#body{
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    /* background-image: linear-gradient(to right , #71b7e6 , #9b59b6); */
    
}
#main_div{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-self: center;
    /* height: 70vh; */
    width: 100vh;
    background-color: white;
    border-radius: 8px;
}
#header_div{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 25px;
}
.body_div{
    padding-left: 25px;
    padding-top: 10px;
    width: 100%;
}
#input_div1{
   display: flex;
   margin-top: 15px;
}
#input_div2{
    display: flex;
    margin-top: 15px;
}
#input_div3{
    display: flex;
    margin-top: 15px;
}

.input_div{
    width: 50%;
}
.input{
    margin-top: 5px;
    height: 25px;
    width: 80%;
    border-color: rgb(255, 251, 251);
}
#input_button{
    width: 92%;
    background-image: linear-gradient(to right , #71b7e6 , #9b59b6);    
    border-style: none;
    height: 5vh;
    border-radius: 4px;
  
}
#input_div4{
    margin-top: 25px;
    width: 92%;
   
}
#input_sub_div4{
    width: 100%;
    display: flex;
    
}
#input_sub_div4 .input_div{
  
    width: 30%;
    margin: 10px;
}
#input_div #input_subdiv .radio_input{
    background-color    : gray;
}


#header_div hr{
    background-image: linear-gradient(to right , #71b7e6 , #9b59b6);
    height: 4px;
    width: 28px;
    margin-top:-15px;
    margin-left:0px;
    border-radius: 20px;
}

#footer_div input{
    
    width: 85%;
    margin:20px 7%;
}

label{
    font-size: small;
}
.showData{
    justify-content:center ;
    align:center;
    display: flex;
    background-color:seashell ;
    padding: 5px;
    margin: 5px;
}
.showData span{
    color: #71b7e6;
    font-size: large;
}